<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script defer src="script.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="weathercont">
        <img src="<%= img_src%> " alt="No image">
        <h2 class="city_temp"><%= cityname %> | <%=temperature%> <sup>o</sup>C</h2>
        <h3 id="now" class="datetime">12 OCT | Wednesday | 9:56 pm</h3>
        <h3 class="description"><%=description%></h3>
    </div>
</body>
</html>